Repository firstcoders/stemplayer-js-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{json,md}": "prettier --write",
  "*.js": ["eslint", "prettier --write"]
}

style(stemplayer-js): reduce box shadow
  elements/stemplayer-js/src/RegionArea.js
Due: prettier --write, eslint

style(stemplayer-js): loading mask is on top
  elements/stemplayer-js/src/StemPlayer.js
Due: prettier --write, eslint

test(mask-element): host gets mask styles
  elements/mask-element/test/soundws-mask.test.js
Due: prettier --write, eslint

chore: publish
  elements/element-styles/CHANGELOG.md
  elements/element-styles/package.json
  elements/loader-element/CHANGELOG.md
  elements/loader-element/package.json
  elements/mask-element/CHANGELOG.md
  elements/mask-element/package.json
  elements/mixthat-player/CHANGELOG.md
  elements/mixthat-player/package.json
  elements/mixthat-playlist/CHANGELOG.md
  elements/mixthat-playlist/package.json
  elements/player-button-element/CHANGELOG.md
  elements/player-button-element/package.json
  elements/range-element/CHANGELOG.md
  elements/range-element/package.json
  elements/slider-element/CHANGELOG.md
  elements/slider-element/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  elements/waveform-element/CHANGELOG.md
  elements/waveform-element/package.json
  packages/hls-web-audio/CHANGELOG.md
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

feat(stemplayer-js): export custom element as element.js
  elements/stemplayer-js/README.md
  elements/stemplayer-js/demo/element.html
  elements/stemplayer-js/element.js
  elements/stemplayer-js/package.json
Due: prettier --write, eslint

fix(stemplayer-js): seek with region works
  elements/stemplayer-js/src/RegionArea.js
Due: prettier --write, eslint

chore: publish
  elements/mixthat-player/CHANGELOG.md
  elements/mixthat-player/package.json
  elements/mixthat-playlist/CHANGELOG.md
  elements/mixthat-playlist/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  yarn.lock
Due: prettier --write

fix(stemplayer-js): fix for scrolling with region
  elements/stemplayer-js/src/StemPlayer.js
Due: prettier --write, eslint

feat(stemplayer-js): scrollWrapper encompasses entire player
  elements/stemplayer-js/demo/regions-width-scroll.html
  elements/stemplayer-js/src/StemPlayer.js
Due: prettier --write, eslint

chore(hls-web-audio): removed redundant devdeps
  packages/hls-web-audio/package.json
  packages/hls-web-audio/web-test-runner.config.mjs
  yarn.lock
Due: prettier --write

chore: upped lit
  elements/element-styles/package.json
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/mixthat-player/package.json
  elements/mixthat-playlist/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  yarn.lock
Due: prettier --write

chore(hls-web-audio): upped babel
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

chore(hls-web-audio): removed babel-parser from eslint
  packages/hls-web-audio/babel.config.json
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

chore: added babel/core which is needed by @open-wc/eslint-config but not included as a dep
  elements/element-styles/package.json
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/mixthat-player/package.json
  elements/mixthat-playlist/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  yarn.lock
Due: prettier --write

chore: upped prettier
  elements/element-styles/package.json
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/mixthat-player/package.json
  elements/mixthat-playlist/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

feat(stemplayer-js): ac destination can be injected. Demo for effects
  elements/stemplayer-js/demo/effects.html
  elements/stemplayer-js/src/StemPlayer.js
Due: prettier --write, eslint

chore: rename package in package.json
  package.json
Due: prettier --write

docs: readme changed after move back to FC
  README.md
Due: prettier --write

chore: yarn install
  yarn.lock
Due: none

chore: renamed npm soundws packages to @firstcoders
  .github/workflows/push-repos.yml
  elements/element-styles/package.json
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/mixthat-player/package.json
  elements/mixthat-playlist/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

chore: renamed npm soundws packages to @firstcoders
  .github/workflows/push-repos.yml
  elements/loader-element/README.md
  elements/mask-element/README.md
  elements/mixthat-player/README.md
  elements/mixthat-player/src/MixthatPlayer.js
  elements/mixthat-playlist/demo/index.html
  elements/player-button-element/README.md
  elements/range-element/README.md
  elements/slider-element/README.md
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/StemPlayerStem.js
  elements/stemplayer-js/stemplayer-legacy.js
  elements/stemplayer-js/stemplayer.js
  elements/waveform-element/README.md
Due: prettier --write, eslint

chore: require node 20
  .nvmrc
  package.json
Due: prettier --write

chore: upgraded lit
  elements/element-styles/package.json
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/mixthat-player/package.json
  elements/mixthat-playlist/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  yarn.lock
Due: prettier --write

chore: upped commitlint husky lerna
  elements/element-styles/package.json
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/mixthat-player/package.json
  elements/mixthat-playlist/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  package.json
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

chore: upped other dev deps
  elements/element-styles/package.json
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/mixthat-player/package.json
  elements/mixthat-playlist/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

chore: upped web-component-analyser
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/mixthat-player/package.json
  elements/mixthat-playlist/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  yarn.lock
Due: prettier --write

docs: change license file
  LICENSE
  README.md
Due: prettier --write

feat(stemplayer-js): load and reload when src of stem is set or changes
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/StemPlayerStem.js
Due: prettier --write, eslint

fix(stemplayer-js): fix for setting style on undefined el
  elements/stemplayer-js/src/StemPlayer.js
Due: prettier --write, eslint

fix(hls-web-audio): fix for hls.load resolving returned promise too soon
  packages/hls-web-audio/src/hls.js
Due: prettier --write, eslint

fix(stemplayer-js): fix for loading and unloading when (re-)setting src for stem
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/StemPlayerStem.js
  packages/hls-web-audio/src/hls.js
Due: prettier --write, eslint

chore: publish
  elements/mixthat-player/CHANGELOG.md
  elements/mixthat-player/package.json
  elements/mixthat-playlist/CHANGELOG.md
  elements/mixthat-playlist/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  packages/hls-web-audio/CHANGELOG.md
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

fix(stemplayer-js): fix scroll behavior for regions
  elements/stemplayer-js/demo/regions-width-scroll.html
  elements/stemplayer-js/src/StemPlayer.js
Due: prettier --write, eslint

feat(waveform-element): added client side normalization of waveform data
  elements/waveform-element/src/lib/Peaks.js
  elements/waveform-element/src/lib/normalize.js
Due: prettier --write, eslint

chore: publish
  elements/mixthat-player/CHANGELOG.md
  elements/mixthat-player/package.json
  elements/mixthat-playlist/CHANGELOG.md
  elements/mixthat-playlist/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  elements/waveform-element/CHANGELOG.md
  elements/waveform-element/package.json
  yarn.lock
Due: prettier --write
