Repository firstcoders/stemplayer-js-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: upped yarn
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

chore: fixed package name of root
  package.json
Due: prettier --write

chore: upped yarn version requirement of root
  package.json
Due: prettier --write

chore: renamed references to master to main
  .github/workflows/publish.yml
  .github/workflows/push-repos.yml
  .github/workflows/test.yml
  .husky/pre-push
  lerna.json
Due: prettier --write

ci: changed git user email to teamatfc
  .github/workflows/push-repos.yml
Due: none

ci: yarn set correct version
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

ci: cleanup
  .github/workflows/publish.yml
Due: none

ci: do not do yarn set version
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

chore: add yarn lock back to git
  .gitignore
  yarn.lock
Due: none

ci: explicitly set yarn version
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

chore: yarn install
  yarn.lock
Due: none

chore: publish
  elements/element-styles/CHANGELOG.md
  elements/element-styles/package.json
  elements/loader-element/CHANGELOG.md
  elements/loader-element/package.json
  elements/mask-element/CHANGELOG.md
  elements/mask-element/package.json
  elements/mixthat-player/CHANGELOG.md
  elements/mixthat-player/package.json
  elements/mixthat-playlist/CHANGELOG.md
  elements/mixthat-playlist/package.json
  elements/multitrack-player/CHANGELOG.md
  elements/multitrack-player/package.json
  elements/player-button-element/CHANGELOG.md
  elements/player-button-element/package.json
  elements/range-element/CHANGELOG.md
  elements/range-element/package.json
  elements/slider-element/CHANGELOG.md
  elements/slider-element/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  elements/waveform-element/CHANGELOG.md
  elements/waveform-element/package.json
  packages/hls-web-audio/CHANGELOG.md
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

fix(stemplayer-js): fix loop property not responding
  elements/stemplayer-js/demo/loop.html
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/test/stemplayer-js.test.js
Due: prettier --write, eslint

chore: updated husky and commitlint
  elements/element-styles/package.json
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/mixthat-player/package.json
  elements/mixthat-playlist/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  package.json
  yarn.lock
Due: prettier --write

chore: re-enabled precommit and prepush hooks
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --write

chore: publish
  elements/element-styles/CHANGELOG.md
  elements/element-styles/package.json
  elements/loader-element/CHANGELOG.md
  elements/loader-element/package.json
  elements/mask-element/CHANGELOG.md
  elements/mask-element/package.json
  elements/mixthat-player/CHANGELOG.md
  elements/mixthat-player/package.json
  elements/mixthat-playlist/CHANGELOG.md
  elements/mixthat-playlist/package.json
  elements/player-button-element/CHANGELOG.md
  elements/player-button-element/package.json
  elements/range-element/CHANGELOG.md
  elements/range-element/package.json
  elements/slider-element/CHANGELOG.md
  elements/slider-element/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  elements/waveform-element/CHANGELOG.md
  elements/waveform-element/package.json
  yarn.lock
Due: prettier --write

chore: publish
  elements/mixthat-player/CHANGELOG.md
  elements/mixthat-player/package.json
  elements/mixthat-playlist/CHANGELOG.md
  elements/mixthat-playlist/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  yarn.lock
Due: prettier --write

chore: upped husky and commitlint
  .husky/pre-commit
  .husky/pre-push
  elements/element-styles/package.json
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/mixthat-player/package.json
  elements/mixthat-playlist/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  package.json
  yarn.lock
Due: prettier --write

feat(hls-web-audio): added offset and duration and rewrote loop functionality
  packages/hls-web-audio/.eslintrc
  packages/hls-web-audio/package.json
  packages/hls-web-audio/src/controller.js
  packages/hls-web-audio/src/hls.js
  packages/hls-web-audio/src/segment.js
  packages/hls-web-audio/src/stack.js
  packages/hls-web-audio/src/timeframe.js
  packages/hls-web-audio/test/spec/controller.test.js
  packages/hls-web-audio/test/spec/hls.test.js
  packages/hls-web-audio/test/spec/segment.test.js
  packages/hls-web-audio/test/spec/stack.test.js
  packages/hls-web-audio/test/spec/timeframe.js
Due: prettier --write, eslint

feat(player-button-element): added loop and deselect icons
  elements/player-button-element/src/assets/icons.js
Due: prettier --write, eslint

feat(waveform-element): add reference to waveform element to waveformdraw event
  elements/waveform-element/src/SoundwsWaveform.js
Due: prettier --write, eslint

feat(stemplayer-js): added region selection
  elements/stemplayer-js/demo/regions.html
  elements/stemplayer-js/src/RegionArea.js
  elements/stemplayer-js/src/ResponsiveLitElement.js
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/StemPlayerControls.js
  elements/stemplayer-js/src/StemPlayerStem.js
  elements/stemplayer-js/src/styles/grid.js
  elements/stemplayer-js/src/styles/row.js
  elements/stemplayer-js/src/styles/spacing.js
  elements/stemplayer-js/src/styles/typography.js
  elements/stemplayer-js/src/styles/utilities.js
  elements/stemplayer-js/stemplayer.js
Due: prettier --write, eslint

fix(hls-web-audio): ensure seeking takes into account offset and playduration
  packages/hls-web-audio/src/controller.js
Due: prettier --write, eslint

fix(stemplayer-js): fix for hover when regions is active
  elements/stemplayer-js/src/RegionArea.js
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/styles/backgrounds.js
  elements/stemplayer-js/src/styles/spacing.js
  elements/stemplayer-js/stemplayer.js
Due: prettier --write, eslint

ci: remove immutable install toggle off
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

chore: removed husky install from postinstall
  package.json
Due: prettier --write

fix(stemplayer-js): no select for entire player. fix safari
  elements/stemplayer-js/src/RegionArea.js
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/styles/typography.js
  elements/stemplayer-js/src/styles/utilities.js
Due: prettier --write, eslint

fix(stemplayer-js): hide/show region cursor on hover
  elements/stemplayer-js/src/RegionArea.js
Due: prettier --write, eslint

refactor(stemplayer-js): better use of z-index
  elements/stemplayer-js/src/RegionArea.js
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/styles/utilities.js
Due: prettier --write, eslint

chore(hls-web-audio): throw error if offset of duration is not of type number
  packages/hls-web-audio/src/controller.js
Due: prettier --write, eslint

fix(stemplayer-js): explicitly parse duration and offset as float when passing to controller
  elements/stemplayer-js/src/StemPlayer.js
Due: prettier --write, eslint

chore: upped lit
  elements/element-styles/package.json
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/mixthat-player/package.json
  elements/mixthat-playlist/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/demo/regions.html
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  yarn.lock
Due: prettier --write

test(stemplayer-js): added getState to regions demo
  elements/stemplayer-js/demo/regions.html
Due: none

refactor(hls-web-audio): remove leading underscore from class member
  packages/hls-web-audio/src/controller.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.js)
  eslint: any of: *.js
