Repository firstcoders/stemplayer-js-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{json,md}": "prettier --write",
  "*.js": ["eslint", "prettier --write"]
}

fix(stemplayer-js): workspace click on controls when zoom no longer causes seek
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

docs(stemplayer-js): fixed demo
  elements/stemplayer-js/demo/zoom-different-durations.html
Due: none

fix(hls-web-audio): again emit seek every time adjustedStart is set
  packages/hls-web-audio/src/controller.js
Due: prettier --write, eslint

feat(stemplayer-js): toggle collapse
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/StemPlayerControls.js
  elements/stemplayer-js/src/styles/utilities.js
Due: prettier --write, eslint

feat(player-button-element): added collapse
  elements/player-button-element/src/assets/icons.js
Due: prettier --write, eslint

chore: removed mixthat-playlist
  elements/mixthat-playlist/.editorconfig
  elements/mixthat-playlist/.gitignore
  elements/mixthat-playlist/.npmignore
  elements/mixthat-playlist/CHANGELOG.md
  elements/mixthat-playlist/LICENSE
  elements/mixthat-playlist/README.md
  elements/mixthat-playlist/demo/index.html
  elements/mixthat-playlist/index.js
  elements/mixthat-playlist/mixthat-playlist.js
  elements/mixthat-playlist/package.json
  elements/mixthat-playlist/src/MixthatPlaylist.js
  elements/mixthat-playlist/test/mixthat-playlist.test.js
  elements/mixthat-playlist/web-dev-server.config.mjs
  elements/mixthat-playlist/web-test-runner.config.mjs
Due: prettier --write, eslint

refactor(mixthat-player): work towards compatibility w mixthat v2
  elements/mixthat-player/.gitignore
  elements/mixthat-player/demo/index.html
  elements/mixthat-player/entry.js
  elements/mixthat-player/package.json
  elements/mixthat-player/rollup.config.mjs
  elements/mixthat-player/src/MixthatPlayer.js
  yarn.lock
Due: prettier --write, eslint

fix(stemplayer-js): responsive slider text overflow truncate
  elements/stemplayer-js/src/StemPlayerStem.js
  elements/stemplayer-js/src/styles/typography.js
Due: prettier --write, eslint

fix(hls-web-audio): more precise scheduling
  packages/hls-web-audio/src/stack.js
Due: prettier --write, eslint

fix(hls-web-audio): add very short crossfade between clips
  packages/hls-web-audio/src/lib/fade.js
  packages/hls-web-audio/src/segment.js
Due: prettier --write, eslint

chore(stemplayer-js): revert left align of label
  elements/stemplayer-js/src/StemPlayerStem.js
Due: prettier --write, eslint

fix(stemplayer-js): overflow issue
  elements/stemplayer-js/src/Row.js
Due: prettier --write, eslint

revert(hls-web-audio): client side cross-fade
  packages/hls-web-audio/src/segment.js
Due: prettier --write, eslint

test(hls-web-audio): fix test
  packages/hls-web-audio/test/spec/stack.test.js
Due: prettier --write, eslint

fix(stemplayer-js): row overflow hidden only on small screen
  elements/stemplayer-js/demo/regions.html
  elements/stemplayer-js/src/Row.js
Due: prettier --write, eslint

chore: moved mixthat-player
  elements/mixthat-player/.editorconfig
  elements/mixthat-player/.gitignore
  elements/mixthat-player/.npmignore
  elements/mixthat-player/CHANGELOG.md
  elements/mixthat-player/LICENSE
  elements/mixthat-player/README.md
  elements/mixthat-player/demo/index.html
  elements/mixthat-player/entry.js
  elements/mixthat-player/index.js
  elements/mixthat-player/mixthat-player.js
  elements/mixthat-player/package.json
  elements/mixthat-player/rollup.config.mjs
  elements/mixthat-player/src/MixthatPlayer.js
  elements/mixthat-player/test/mixthat-player.test.js
  elements/mixthat-player/web-dev-server.config.mjs
  elements/mixthat-player/web-test-runner.config.mjs
Due: prettier --write, eslint

chore: cleanup
  elements/README.md
  packages/README.md
Due: prettier --write

chore: yarn install
  yarn.lock
Due: none

chore: remove yarn lock
  .gitignore
  yarn.lock
Due: none

chore: remove remaining GPL references
  elements/stemplayer-js/README.md
  elements/stemplayer-js/stemplayer.js
  packages/hls-web-audio/README.md
Due: prettier --write, eslint

chore: up yarn to 4.6
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

ci: fix yarn set version
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

ci: comment out yarn cache as lock file is no longer committed
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

chore: re-add yarn.lock to repo
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .gitignore
  yarn.lock
Due: none

ci: remove push mixthat-player
  .github/workflows/push-repos.yml
Due: none

chore: up commitlint
  package.json
  yarn.lock
Due: prettier --write

chore: up babel
  elements/element-styles/package.json
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  yarn.lock
Due: prettier --write

feat(player-button-element): add focus button color css var
  elements/player-button-element/src/FcPlayerButton.js
Due: prettier --write, eslint

style(stemplayer-js): textsm uses em instead of rem
  elements/stemplayer-js/src/styles/typography.js
Due: prettier --write, eslint

style(stemplayer-js): textSm for controls label
  elements/stemplayer-js/src/StemPlayerControls.js
Due: prettier --write, eslint

docs: up contributing in readme
  elements/stemplayer-js/README.md
Due: prettier --write

docs: minor readme update
  README.md
Due: prettier --write

feat(stemplayer-js): workspace-width from css var
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

style(stemplayer-js): align label right for large screen
  elements/stemplayer-js/src/StemPlayerStem.js
  elements/stemplayer-js/src/styles/typography.js
Due: prettier --write, eslint

Revert "style(stemplayer-js): align label right for large screen"
  elements/stemplayer-js/src/StemPlayerStem.js
  elements/stemplayer-js/src/styles/typography.js
Due: prettier --write, eslint

Add draggable regions
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

Add lock region props
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

add demo
  elements/stemplayer-js/demo/locked-regions.html
Due: none

chore: removed lines warned to remove from commit hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none
