Repository firstcoders/stemplayer-js-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: upped test dev deps
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  elements/waveform-element/test/fc-waveform.test.js
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write, eslint

docs: up readme
  README.md
Due: prettier --write

fix(hls-web-audio): improve iOS silent-switch bypass reliability
  packages/hls-web-audio/src/lib/unmuteAudioContext.js
Due: prettier --write, eslint

fix(hls-web-audio): remove explicit ac.resume() in iOS unmute to defer to engine
  packages/hls-web-audio/src/lib/unmuteAudioContext.js
Due: prettier --write, eslint

docs(stemplayer-js): demonstrate early audio context initialization for ios unmute
  elements/stemplayer-js/demo/ios-unmute.html
Due: none

feat(hls-web-audio): export AudioContext, unmuteAudioContext, and isIOS to allow early initialization
  packages/hls-web-audio/index.js
Due: prettier --write, eslint

docs(hls-web-audio): docblocks
  packages/hls-web-audio/src/core/AudioController.js
  packages/hls-web-audio/src/core/PlaybackEngine.js
  packages/hls-web-audio/src/core/PlaybackTimeline.js
  packages/hls-web-audio/src/core/Timeframe.js
  packages/hls-web-audio/src/core/TrackGroup.js
  packages/hls-web-audio/src/io/AudioSegment.js
  packages/hls-web-audio/src/io/ManifestLoader.js
  packages/hls-web-audio/src/io/SegmentBuffer.js
  packages/hls-web-audio/src/io/SegmentLoader.js
  packages/hls-web-audio/src/io/SegmentPlayer.js
  packages/hls-web-audio/src/lib/AudioContext.js
  packages/hls-web-audio/src/lib/fade.js
  packages/hls-web-audio/src/lib/isIOS.js
  packages/hls-web-audio/src/lib/unmuteAudioContext.js
  packages/hls-web-audio/src/track/HLS.js
  packages/hls-web-audio/src/track/Stack.js
  packages/hls-web-audio/src/track/Track.js
  packages/hls-web-audio/src/track/TrackScheduler.js
Due: prettier --write, eslint

chore(hls-web-audio): remove redundant prop
  packages/hls-web-audio/src/core/AudioController.js
  packages/hls-web-audio/test/spec/core/AudioController.test.js
Due: prettier --write, eslint

chore(stemplayer-js): add viewport metatag to ios demo
  elements/stemplayer-js/demo/ios-unmute.html
Due: none

chore: publish
  elements/element-styles/CHANGELOG.md
  elements/element-styles/package.json
  elements/loader-element/CHANGELOG.md
  elements/loader-element/package.json
  elements/mask-element/CHANGELOG.md
  elements/mask-element/package.json
  elements/player-button-element/CHANGELOG.md
  elements/player-button-element/package.json
  elements/range-element/CHANGELOG.md
  elements/range-element/package.json
  elements/slider-element/CHANGELOG.md
  elements/slider-element/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  elements/waveform-element/CHANGELOG.md
  elements/waveform-element/package.json
  packages/hls-web-audio/CHANGELOG.md
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

docs(stemplayer-js): upped webcomponent doc
  elements/stemplayer-js/docs/stemplayer-js.md
Due: prettier --write

fix(stemplayer-js): various zoom and width issues
  elements/stemplayer-js/src/StemPlayerControls.js
  elements/stemplayer-js/src/StemPlayerStem.js
  elements/stemplayer-js/src/Workspace.js
  elements/stemplayer-js/src/styles/row.js
Due: prettier --write, eslint

fix(stemplayer-js): region drag cleanup
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

chore: publish
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.js)
  eslint: any of: *.js
