Repository firstcoders/stemplayer-js-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: husky is in postinstall
  package.json
Due: prettier --write

fix: return undefined in hover handler when lockRegions is active
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

docs: remove gpl licence on top of file
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

test(stemplayer-js): eslint disable alert in demo file
  elements/stemplayer-js/demo/controls.html
Due: none

chore(stemplayer-js): remaining eslint fix
  elements/stemplayer-js/src/StemPlayer.js
Due: prettier --write, eslint

fix(stemplayer-js): draghandle partially unset offset or duration when crossing region edges
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

chore: publish
  elements/element-styles/CHANGELOG.md
  elements/element-styles/package.json
  elements/loader-element/CHANGELOG.md
  elements/loader-element/package.json
  elements/mask-element/CHANGELOG.md
  elements/mask-element/package.json
  elements/player-button-element/CHANGELOG.md
  elements/player-button-element/package.json
  elements/range-element/CHANGELOG.md
  elements/range-element/package.json
  elements/slider-element/CHANGELOG.md
  elements/slider-element/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  elements/waveform-element/CHANGELOG.md
  elements/waveform-element/package.json
  packages/hls-web-audio/CHANGELOG.md
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

feature: add max duration that we can select
  elements/stemplayer-js/demo/max-duration-regions.html
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

fix: linting issue
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

fix(stemplayer-js): update progress to 0 on end
  elements/stemplayer-js/src/StemPlayer.js
Due: prettier --write, eslint

docs(stemplayer-js): added min-duration-regions and max-duration-regions demo
  elements/stemplayer-js/demo/min-duration-regions.html
Due: none

feat(stemplayer-js): emit cancellable pre-update event from region
  elements/stemplayer-js/demo/max-duration-regions.html
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

feat(stemplayer-js): added css var for display prop for region deselect button
  elements/stemplayer-js/demo/max-duration-regions.html
  elements/stemplayer-js/demo/min-duration-regions.html
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

feat(stemplayer-js): drag existing region
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

Revert "feat(stemplayer-js): drag existing region"
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

chore: update yarn version
  .yarn/releases/yarn-4.6.0.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

chore: publish
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
Due: prettier --write

style: add aria labels
  elements/loader-element/src/FcLoader.js
  elements/player-button-element/src/FcPlayerButton.js
  elements/range-element/src/FcRange.js
  elements/slider-element/src/FcSlider.js
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/StemPlayerControls.js
  elements/stemplayer-js/src/StemPlayerStem.js
  elements/waveform-element/src/FcWaveform.js
Due: prettier --write, eslint

chore(stemplayer-js): fixed git url in package.json
  elements/stemplayer-js/package.json
Due: prettier --write

chore: fixed root package name
  package.json
Due: prettier --write

fix(hls-web-audio): all controller events unset when hls is destroyed
  packages/hls-web-audio/src/hls.js
Due: prettier --write, eslint

chore: upped to nodejs 22
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .nvmrc
  .yarn/releases/yarn-4.9.1.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  elements/stemplayer-js/package.json
  package.json
  yarn.lock
Due: prettier --write

chore: publish
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  packages/hls-web-audio/CHANGELOG.md
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

chore: upped lit
  elements/element-styles/package.json
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  yarn.lock
Due: prettier --write

chore: wip pitchshift
  elements/stemplayer-js/demo/effects.html
  elements/stemplayer-js/package.json
  elements/stemplayer-js/src/StemPlayerControls.js
  yarn.lock
Due: prettier --write, eslint

refactor(hls-web-audio): use linked list for stack
  packages/hls-web-audio/src/stack.js
Due: prettier --write, eslint

refactor(hls-web-audio): use timeout based preloading instead of polling each tick
  packages/hls-web-audio/src/StackNode.js
  packages/hls-web-audio/src/controller.js
  packages/hls-web-audio/src/hls.js
  packages/hls-web-audio/src/stack.js
Due: prettier --write, eslint

feat(waveform-element): set progress in waveform element
  elements/waveform-element/demo/index.html
  elements/waveform-element/src/FcWaveform.js
Due: prettier --write, eslint

refactor(stemplayer-js): remove progress, use waveform element progress instead
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

test(waveform-element): lint fix
  elements/waveform-element/demo/index.html
Due: none

fix(stemplayer-js): render waveform color using css getComputedStyle
  elements/stemplayer-js/demo/index.html
  elements/stemplayer-js/src/mixins/WaveformHostMixin.js
Due: prettier --write, eslint

fix(stemplayer-js): imprecise seeking
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

chore(waveform-element): cleanup
  elements/stemplayer-js/src/Workspace.js
  elements/stemplayer-js/src/mixins/WaveformHostMixin.js
Due: prettier --write, eslint

chore: pin to yarn version 4.10.3
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

chore: publish
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  elements/waveform-element/CHANGELOG.md
  elements/waveform-element/package.json
  yarn.lock
Due: prettier --write

chore: added npmrc
  .npmrc
Due: none

docs(stemplayer-js): regen webcomponent docs
  elements/stemplayer-js/docs/stemplayer-js.md
Due: prettier --write

chore: upgrade lit
  elements/element-styles/package.json
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  yarn.lock
Due: prettier --write

chore: publish
  elements/element-styles/CHANGELOG.md
  elements/element-styles/package.json
  elements/loader-element/CHANGELOG.md
  elements/loader-element/package.json
  elements/mask-element/CHANGELOG.md
  elements/mask-element/package.json
  elements/player-button-element/CHANGELOG.md
  elements/player-button-element/package.json
  elements/range-element/CHANGELOG.md
  elements/range-element/package.json
  elements/slider-element/CHANGELOG.md
  elements/slider-element/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  elements/waveform-element/CHANGELOG.md
  elements/waveform-element/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.js)
  eslint: any of: *.js
