Repository firstcoders/stemplayer-js-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix(stemplayer-js): remove global event handler on disconnected
  elements/stemplayer-js/src/RegionArea.js
Due: prettier --write, eslint

refactor(stemplayer-js): some props to private class members
  elements/stemplayer-js/src/RegionArea.js
Due: prettier --write, eslint

fix(hls-web-audio): fix for setting unsetting duration override throwing error
  packages/hls-web-audio/src/controller.js
Due: prettier --write, eslint

chore: publish
  elements/mixthat-player/CHANGELOG.md
  elements/mixthat-player/package.json
  elements/mixthat-playlist/CHANGELOG.md
  elements/mixthat-playlist/package.json
  elements/multitrack-player/CHANGELOG.md
  elements/multitrack-player/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  packages/hls-web-audio/CHANGELOG.md
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

style(stemplayer-js): do not use bgbrand for loop = active and soloed
  elements/stemplayer-js/src/StemPlayerControls.js
  elements/stemplayer-js/src/StemPlayerStem.js
Due: prettier --write, eslint

docs(hls-web-audio): removed comment
  packages/hls-web-audio/src/controller.js
Due: prettier --write, eslint

fix(stemplayer-js): sensible title attribute for loop button
  elements/stemplayer-js/src/StemPlayerControls.js
Due: prettier --write, eslint

fix(stemplayer-js): changing volume on muted-by-solo stem no longer cancels solo
  elements/stemplayer-js/src/StemPlayerStem.js
Due: prettier --write, eslint

chore: publish
  elements/mixthat-player/CHANGELOG.md
  elements/mixthat-player/package.json
  elements/mixthat-playlist/CHANGELOG.md
  elements/mixthat-playlist/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  yarn.lock
Due: prettier --write

chore: upped babel
  elements/multitrack-player/package.json
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

chore: upped eslint and lint-staged
  elements/element-styles/package.json
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/mixthat-player/package.json
  elements/mixthat-playlist/package.json
  elements/multitrack-player/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

chore(stemplayer-js): removed stray console.log
  elements/stemplayer-js/src/StemPlayerStem.js
Due: prettier --write, eslint

chore: upped commitlint and wc eslint config
  elements/element-styles/package.json
  elements/mixthat-playlist/package.json
  package.json
  yarn.lock
Due: prettier --write

chore: upped testing and dev-server dev-deps
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/mixthat-player/package.json
  elements/mixthat-playlist/package.json
  elements/multitrack-player/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

chore: upped wc manifest analyser
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/mixthat-player/package.json
  elements/mixthat-playlist/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
Due: prettier --write

chore: upped wc manifest analyser
  yarn.lock
Due: none

chore: upped lerna
  package.json
  yarn.lock
Due: prettier --write

fix(stemplayer-js): cursor hover width collapses back to 0 when not hovering over waveform
  elements/stemplayer-js/src/StemPlayer.js
Due: prettier --write, eslint

chore: publish
  elements/element-styles/CHANGELOG.md
  elements/element-styles/package.json
  elements/loader-element/CHANGELOG.md
  elements/loader-element/package.json
  elements/mask-element/CHANGELOG.md
  elements/mask-element/package.json
  elements/mixthat-player/CHANGELOG.md
  elements/mixthat-player/package.json
  elements/mixthat-playlist/CHANGELOG.md
  elements/mixthat-playlist/package.json
  elements/multitrack-player/CHANGELOG.md
  elements/multitrack-player/package.json
  elements/player-button-element/CHANGELOG.md
  elements/player-button-element/package.json
  elements/range-element/CHANGELOG.md
  elements/range-element/package.json
  elements/slider-element/CHANGELOG.md
  elements/slider-element/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  elements/waveform-element/CHANGELOG.md
  elements/waveform-element/package.json
  packages/hls-web-audio/CHANGELOG.md
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

chore: upped prettier
  elements/element-styles/package.json
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/mixthat-player/package.json
  elements/mixthat-playlist/package.json
  elements/multitrack-player/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

chore: upped mocha and sinon
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

chore: renamed root package name
  package.json
Due: prettier --write

docs: upped readme
  README.md
Due: prettier --write

chore: yarn install after moving repo
  yarn.lock
Due: none

docs: upped license info
  LICENSE.txt
  README.md
  elements/element-styles/LICENSE
  package.json
Due: prettier --write

docs: minor change to readme
  README.md
Due: prettier --write

chore: re-enable commitlint
  .husky/commit-msg
Due: none

docs: minor update readme
  README.md
Due: prettier --write

refactor(mask-element): host gets mask styles
  elements/mask-element/src/SoundwsMask.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.js)
  eslint: any of: *.js
