Repository firstcoders/stemplayer-js-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{json,md}": "prettier --write",
  "*.js": ["eslint", "prettier --write"]
}

refactor(stemplayer-js): updating components as result of timeupdate uses animationframe
  elements/stemplayer-js/src/StemPlayer.js
Due: prettier --write, eslint

feat(hls-web-audio): hls is smarter on when to run schedule
  packages/hls-web-audio/src/hls.js
Due: prettier --write, eslint

chore: publish
  elements/mixthat-player/CHANGELOG.md
  elements/mixthat-player/package.json
  elements/mixthat-playlist/CHANGELOG.md
  elements/mixthat-playlist/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  packages/hls-web-audio/CHANGELOG.md
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

chore: upped lit
  elements/element-styles/package.json
  elements/loader-element/package.json
  elements/mask-element/package.json
  elements/mixthat-player/package.json
  elements/mixthat-playlist/package.json
  elements/player-button-element/package.json
  elements/range-element/package.json
  elements/slider-element/package.json
  elements/stemplayer-js/package.json
  elements/waveform-element/package.json
  yarn.lock
Due: prettier --write

fix(hls-web-audio): notbeforeflag is reset when playDuration or offset changes
  packages/hls-web-audio/src/hls.js
Due: prettier --write, eslint

chore: publish
  elements/element-styles/CHANGELOG.md
  elements/element-styles/package.json
  elements/loader-element/CHANGELOG.md
  elements/loader-element/package.json
  elements/mask-element/CHANGELOG.md
  elements/mask-element/package.json
  elements/mixthat-player/CHANGELOG.md
  elements/mixthat-player/package.json
  elements/mixthat-playlist/CHANGELOG.md
  elements/mixthat-playlist/package.json
  elements/player-button-element/CHANGELOG.md
  elements/player-button-element/package.json
  elements/range-element/CHANGELOG.md
  elements/range-element/package.json
  elements/slider-element/CHANGELOG.md
  elements/slider-element/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  elements/waveform-element/CHANGELOG.md
  elements/waveform-element/package.json
  packages/hls-web-audio/CHANGELOG.md
  packages/hls-web-audio/package.json
  yarn.lock
Due: prettier --write

fix(stemplayer-js): queryselector is not in wheel event
  elements/stemplayer-js/src/StemPlayer.js
Due: prettier --write, eslint

chore: publish
  elements/mixthat-player/CHANGELOG.md
  elements/mixthat-player/package.json
  elements/mixthat-playlist/CHANGELOG.md
  elements/mixthat-playlist/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  yarn.lock
Due: prettier --write

fix(hls-web-audio): seek event fired as result of setcurenttime
  packages/hls-web-audio/src/controller.js
Due: prettier --write, eslint

refactor(hls-web-audio): disabled comment
  packages/hls-web-audio/src/hls.js
Due: prettier --write, eslint

fix(stemplayer-js): waveform takes total duration into account when rendering
  elements/stemplayer-js/demo/assets/audio/106 DRUMS A_02.5-short.m3u8
  elements/stemplayer-js/demo/assets/waveforms/106 DRUMS A_02.5-short.json
  elements/stemplayer-js/demo/different-durations.html
  elements/stemplayer-js/src/StemPlayerStem.js
Due: prettier --write, eslint

fix(stemplayer-js): controls take total duration into account
  elements/stemplayer-js/src/StemPlayerControls.js
Due: prettier --write, eslint

fix(waveform-element): adjustedpeaks should not normalize peaks
  elements/waveform-element/src/SoundwsWaveform.js
  elements/waveform-element/src/lib/Peaks.js
Due: prettier --write, eslint

fix(waveform-element): peaks.combine should not normalize
  elements/waveform-element/src/lib/Peaks.js
Due: prettier --write, eslint

chore: publish
  elements/mixthat-player/CHANGELOG.md
  elements/mixthat-player/package.json
  elements/mixthat-playlist/CHANGELOG.md
  elements/mixthat-playlist/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  elements/waveform-element/CHANGELOG.md
  elements/waveform-element/package.json
  yarn.lock
Due: prettier --write

fix(stemplayer-js): set duration when loading/initialising with controller as result of mount
  elements/stemplayer-js/src/StemPlayerStem.js
Due: prettier --write, eslint

style(range-element): removed focus bg color
  elements/range-element/src/SoundwsRange.js
Due: prettier --write, eslint

refactor(waveform-element): removed progress functionality
  elements/waveform-element/src/SoundwsWaveform.js
  elements/waveform-element/src/lib/Peaks.js
  elements/waveform-element/src/lib/createDrawer.js
Due: prettier --write, eslint

refactor(stemplayer-js): major refactor of component layout
  elements/stemplayer-js/demo/controls.html
  elements/stemplayer-js/demo/effects.html
  elements/stemplayer-js/demo/regions-width-scroll.html
  elements/stemplayer-js/demo/set-duration.html
  elements/stemplayer-js/demo/zoom-different-durations.html
  elements/stemplayer-js/src/ResponsiveLitElement.js
  elements/stemplayer-js/src/Row.js
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/StemPlayerControls.js
  elements/stemplayer-js/src/StemPlayerStem.js
  elements/stemplayer-js/src/Workspace.js
  elements/stemplayer-js/src/config.js
  elements/stemplayer-js/src/lib/compute-styles.js
  elements/stemplayer-js/src/mixins/ResponsiveMixin.js
  elements/stemplayer-js/src/mixins/WaveformHostMixin.js
  elements/stemplayer-js/src/styles/grid.js
  elements/stemplayer-js/src/styles/row.js
  elements/stemplayer-js/src/styles/spacing.js
  elements/stemplayer-js/src/styles/utilities.js
  elements/stemplayer-js/stemplayer.js
  elements/stemplayer-js/styles/theme-light.css
Due: prettier --write, eslint

test(waveform-element): fixed test
  elements/waveform-element/test/lib/Peaks.test.js
Due: prettier --write, eslint

test(stemplayer-js): fixed tests
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/StemPlayerControls.js
  elements/stemplayer-js/test/StemplayerControls.test.js
Due: prettier --write, eslint

refactor(stemplayer-js): cleanup styles
  elements/stemplayer-js/src/Row.js
  elements/stemplayer-js/src/StemPlayerStem.js
  elements/stemplayer-js/src/styles/grid.js
Due: prettier --write, eslint

docs(stemplayer-js): regenerated docs
  elements/stemplayer-js/docs/stemplayer-js.md
Due: prettier --write

feat(stemplayer-js): controls component more configurable
  elements/stemplayer-js/demo/controls.html
  elements/stemplayer-js/demo/zoom-different-durations.html
  elements/stemplayer-js/src/Row.js
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/StemPlayerControls.js
Due: prettier --write, eslint

feat(player-button-element): added zoom icons
  elements/player-button-element/src/assets/icons.js
Due: prettier --write, eslint

chore: publish
  elements/element-styles/CHANGELOG.md
  elements/element-styles/package.json
  elements/loader-element/CHANGELOG.md
  elements/loader-element/package.json
  elements/mask-element/CHANGELOG.md
  elements/mask-element/package.json
  elements/mixthat-player/CHANGELOG.md
  elements/mixthat-player/package.json
  elements/mixthat-playlist/CHANGELOG.md
  elements/mixthat-playlist/package.json
  elements/player-button-element/CHANGELOG.md
  elements/player-button-element/package.json
  elements/range-element/CHANGELOG.md
  elements/range-element/package.json
  elements/slider-element/CHANGELOG.md
  elements/slider-element/package.json
  elements/stemplayer-js/CHANGELOG.md
  elements/stemplayer-js/package.json
  elements/waveform-element/CHANGELOG.md
  elements/waveform-element/package.json
  yarn.lock
Due: prettier --write

refactor(stemplayer-js): refactored workspace so click events bubble better
  elements/stemplayer-js/demo/controls.html
  elements/stemplayer-js/demo/regions.html
  elements/stemplayer-js/demo/zoom-different-durations.html
  elements/stemplayer-js/src/Row.js
  elements/stemplayer-js/src/StemPlayer.js
  elements/stemplayer-js/src/StemPlayerControls.js
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

fix(stemplayer-js): workspace click outside area doesnt trigger seek
  elements/stemplayer-js/src/Workspace.js
Due: prettier --write, eslint

refactor(stemplayer-js): controls have specific positions. allow disabling
  elements/stemplayer-js/demo/controls.html
  elements/stemplayer-js/src/StemPlayerControls.js
  elements/stemplayer-js/src/styles/utilities.js
Due: prettier --write, eslint

refactor(stemplayer-js): rendering of certain controls depends on whether other controls
  elements/stemplayer-js/demo/controls.html
  elements/stemplayer-js/src/StemPlayerControls.js
Due: prettier --write, eslint

chore(stemplayer-js): controls and end section in controls comp have transp bg
  elements/stemplayer-js/src/StemPlayerControls.js
Due: prettier --write, eslint

fix(stemplayer-js): row end has lower z-index
  elements/stemplayer-js/src/Row.js
Due: prettier --write, eslint

chore(stemplayer-js): added funding
  elements/stemplayer-js/.github/FUNDING.yml
  elements/stemplayer-js/demo/regions.html
Due: none

chore(hls-web-audio): removed unused method
  packages/hls-web-audio/src/controller.js
Due: prettier --write, eslint

fix(hls-web-audio): play no longer causes audiocontext to start prematurely
  packages/hls-web-audio/src/controller.js
Due: prettier --write, eslint

chore(stemplayer-js): no overflow-x unless zoom > 1
  elements/stemplayer-js/src/StemPlayer.js
Due: prettier --write, eslint

fix(hls-web-audio): fixadjusted start firing seek event caused issues
  packages/hls-web-audio/src/controller.js
Due: prettier --write, eslint
